/* 主页面头部样式start */
.index_headerMain {
  height: 60px;
  padding: 0 30px;
  background: url(~@/intelligent-ui/img/header-bj.png);
  background-size: 100% 100%;
}
.index_headerMain .platform_Logo {
  float: left;
}
.index_headerMain .platform_Logo .logo_imgMain {
  height: 60px;
  line-height: 60px;
  color: #FFFFFF;
  font-size: 16px;
  padding-left: 48px;
  background: url(~@/intelligent-ui/img/logo.png) no-repeat;
  background-size: 30px 30px;
  background-position: 0 center;
}
.index_headerMain .head_navs {
  float: left;
  margin-left: 10%;
}
.index_headerMain .head_navs li {
  position: relative;
  height: 60px;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.65);
  display: inline-block;
  padding: 0 16px;
}
.index_headerMain .head_navs li:hover,
.index_headerMain .head_navs li.active {
  color: #FFFFFF;
  text-shadow: 0 0 0 #FFFFFF;
  background: linear-gradient(360deg, rgba(0, 89, 255, 0.04) 0%, rgba(49, 113, 255, 0.65) 100%);
}
.index_headerMain .head_navs li a {
  font-size: 16px;
  vertical-align: middle;
}
.index_headerMain .head_navs li em {
  position: absolute;
  top: 8px;
  right: 0;
  display: inline-block;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #FFE6E6;
  color: #FF4D4F;
  font-size: 12px;
}
.index_headerMain .seach_help_remind {
  float: right;
}
.index_headerMain .seach_help_remind ul {
  display: inline-block;
}
.index_headerMain .seach_help_remind li {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin: 0 10px;
}
.index_headerMain .seach_help_remind li img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}
.index_headerMain .seach_help_remind .principal_backstageLink {
  display: inline-block;
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.857rem;
}
.index_headerMain .seach_help_remind .principal_backstageLink a {
  font-size: 13px;
  padding: 0 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.index_headerMain .seach_help_remind .principal_backstageLink a:last-child {
  border-right: none;
}
.index_headerMain .seach_help_remind .user_Opeartion {
  position: relative;
  display: inline-block;
  margin-left: 25px;
  line-height: 60px;
  cursor: pointer;
}
.index_headerMain .seach_help_remind .user_Opeartion img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.index_headerMain .seach_help_remind .user_Opeartion span {
  color: rgba(255, 255, 255, 0.8);
  vertical-align: middle;
  margin-left: 5px;
}
/* 主页面头部样式end */
/* 首页内容部分start */
.homePage_Main {
  background-color: #F5F5F5;
}
.homePage_Main .typeArea {
  width: 1260px;
  width: 90.3%;
  max-width: 1600px;
  margin: auto;
  padding-top: 25px;
}
.homePage_Main .head_informations .el-input__suffix {
  right: 18px;
}
.homePage_Main .head_informations .l_userInfo {
  width: 20.83%;
  float: left;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 24px 15px 24px 24px;
  position: relative;
  height: 244px;
}
.homePage_Main .head_informations .l_userInfo .portraitBox {
  margin-bottom: 10px;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
}
.homePage_Main .head_informations .l_userInfo .portraitBox img {
  display: block;
  float: left;
  width: 46px;
  height: 46px;
}
.homePage_Main .head_informations .l_userInfo .portraitBox .userNames {
  width: calc(100% - 147px);
  text-align: left;
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.homePage_Main .head_informations .l_userInfo .portraitBox button {
  margin-top: 12px;
  background-color: #fff;
  border: none;
  color: #3171FF;
  height: 20px;
  padding-bottom: 2px;
  border-bottom: 1px solid #3171FF;
}
.homePage_Main .head_informations .l_userInfo .portraitBox .toggleUsers {
  position: relative;
  float: right;
  padding-top: 12px;
}
.homePage_Main .head_informations .l_userInfo .portraitBox .toggleUsers a {
  color: #3171FF;
  font-size: 12px;
  border-bottom: 1px solid #3171FF;
  cursor: pointer;
  user-select: none;
}
.homePage_Main .head_informations .l_userInfo .portraitBox .toggleUsers .tooglEroleList {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  width: 157px;
  text-align: right;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #FFFFFF;
  overflow: hidden;
  z-index: 99;
  box-shadow: 0 0 5px #CCCCCC;
}
.homePage_Main .head_informations .l_userInfo .portraitBox .toggleUsers .roleOption {
  padding: 5px 0;
  cursor: pointer;
  color: #666666;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.homePage_Main .head_informations .l_userInfo .portraitBox .toggleUsers .roleOption:last-child {
  border-bottom: none;
}
.homePage_Main .head_informations .l_userInfo .portraitBox .toggleUsers .roleOption:hover {
  color: #3171FF;
}
.homePage_Main .head_informations .l_userInfo .unitNames {
  color: #888;
  margin-bottom: 13px;
}
.homePage_Main .head_informations .l_userInfo .infoList {
  color: #888;
  margin-bottom: 8px;
}
.homePage_Main .head_informations .l_userInfo .infoList span {
  color: #333;
  text-shadow: 0 0 0 #333;
}
.homePage_Main .head_informations .l_userInfo .numberBtn {
  margin-top: 15px;
  padding-right: 9px;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
}
.homePage_Main .head_informations .l_userInfo .numberBtn button {
  width: 84%;
  height: 32px;
  line-height: 32px;
  border-radius: 3px;
  background-color: #3171FF;
  color: #FFFFFF;
  position: absolute;
  bottom: 21px;
}
.homePage_Main .head_informations .togglePeople {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  width: 200px;
  z-index: 999;
  left: 212px;
  top: 58px;
}
.homePage_Main .head_informations .togglePeople ul {
  padding-bottom: 10px;
  border-bottom: 1px solid #DDDDDD;
}
.homePage_Main .head_informations .togglePeople ul li {
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  user-select: none;
  cursor: pointer;
}
.homePage_Main .head_informations .togglePeople ul li:hover {
  background-color: #eff4ff;
}
.homePage_Main .head_informations .togglePeople ul .active {
  background-color: #f5f5f5;
}
.homePage_Main .head_informations .togglePeople .concel {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.homePage_Main .head_informations .togglePeople .concel button {
  height: 100%;
  width: 100%;
  color: #3d79fc;
  background-color: #fff;
  text-align: center;
  border-bottom: none ;
  margin-top: 0;
}
.homePage_Main .head_informations .inform_generalize {
  width: calc(100% - 21.83%);
  float: right;
  border-radius: 5px;
}
.homePage_Main .head_informations .informFrame {
  position: relative;
  height: 77px;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 15px 120px 15px 24px;
}
.homePage_Main .head_informations .informFrame li {
  width: 50%;
  line-height: 38px;
  float: left;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #555;
}
.homePage_Main .head_informations .informFrame li:hover {
  color: #3171FF;
}
.homePage_Main .head_informations .informFrame i {
  display: inline-block;
  padding: 0 6px;
  height: 20px;
  line-height: 18px;
  border-radius: 2px;
  border: 1px solid #F3AC00;
  color: #F3AC00;
}
.homePage_Main .head_informations .informFrame .moreLink {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.homePage_Main .head_informations .informFrame .moreLink a {
  color: #3171FF;
  padding-right: 15px;
  background: url(../img/more_icon.png) no-repeat;
  background-position: right center;
  background-size: 7px 12px;
}
.homePage_Main .head_informations .generalizeFrame {
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 18px 24px 26px;
  margin-top: 14px;
  height: 153px;
}
.homePage_Main .head_informations .title_dateSelect {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.homePage_Main .head_informations .title_dateSelect a {
  font-size: 16px;
  font-weight: bold;
  margin-right: 50px;
  text-align: left;
}
.homePage_Main .head_informations .title_dateSelect .el-date-editor.el-input {
  width: 120px;
}
.homePage_Main .head_informations .title_dateSelect .el-input__inner {
  padding-right: 0;
  border: none;
  color: #3171FF;
  cursor: pointer;
}
.homePage_Main .head_informations .title_dateSelect .el-input__prefix {
  color: #3171FF;
  right: 18px !important;
}
.homePage_Main .head_informations .title_dateSelect .ulLi {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin-right: 20px;
}
.homePage_Main .head_informations .title_dateSelect .ulLi li {
  padding: 0 16px;
  height: 32px;
  line-height: 32px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  user-select: none;
}
.homePage_Main .head_informations .title_dateSelect .ulLi li:nth-child(2) {
  margin-left: -1px;
}
.homePage_Main .head_informations .title_dateSelect .ulLi li:nth-child(3) {
  margin-left: -1px;
}
.homePage_Main .head_informations .title_dateSelect .ulLi li:first-child {
  border-radius: 2px 0px 0px 2px;
}
.homePage_Main .head_informations .title_dateSelect .ulLi li:last-child {
  border-radius: 0 2px 2px 0 ;
}
.homePage_Main .head_informations .title_dateSelect .ulLi .activeTab {
  color: #3171FF;
  border: 1px solid #3171FF;
  position: relative;
  z-index: 999;
}
.homePage_Main .head_informations .title_dateSelect .block {
  width: 240px;
  height: 32px;
}
.homePage_Main .head_informations .title_dateSelect .block .el-date-editor {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.homePage_Main .head_informations .title_dateSelect .block .el-input__inner {
  width: 238px;
  padding: 0 10px;
  height: 32px;
}
.homePage_Main .head_informations .title_dateSelect .block .el-input__inner {
  border-radius: 0;
}
.homePage_Main .head_informations .title_dateSelect .selectOption {
  height: 32px;
}
.homePage_Main .head_informations .title_dateSelect .selectOption .el-input__inner {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 !important;
}
.homePage_Main .head_informations .title_dateSelect .selectOption .el-input__inner {
  height: 32px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.85);
  width: 100% !important;
  padding: 0 0 0 10px !important;
}
.homePage_Main .head_informations .title_dateSelect .selectOption .el-select .el-input__inner:focus {
  border-radius: 0;
}
.homePage_Main .head_informations .title_dateSelect .el-input__suffix {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  right: 18px;
}
.homePage_Main .head_informations .title_dateSelect .el-select .is-focus {
  border-radius: 0;
}
.homePage_Main .head_informations .generalizeDiv {
  font-size: 0;
  margin-top: 24px;
}
.homePage_Main .head_informations .generalizeDiv ul {
  width: 100%;
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
}
.homePage_Main .head_informations .generalizeDiv li {
  width: 33%;
  font-size: 14px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 40px;
}
.homePage_Main .head_informations .generalizeDiv li:first-child {
  padding-left: 15px;
}
.homePage_Main .head_informations .generalizeDiv li:last-child {
  border-right: none;
}
.homePage_Main .head_informations .generalizeDiv li.specialState .optionTitle::before {
  background-color: #F3AC00;
}
.homePage_Main .head_informations .generalizeDiv .optionTitle {
  position: relative;
  color: #888;
  text-align: left;
}
.homePage_Main .head_informations .generalizeDiv .optionTitle::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #1890FF;
  position: absolute;
  top: 7px;
  left: -15px;
}
.homePage_Main .head_informations .generalizeDiv .abnormal::before {
  background-color: red;
}
.homePage_Main .head_informations .generalizeDiv .numbers {
  font-size: 28px;
  text-shadow: 0 0 0 #333333;
  padding-left: 10px;
}
/* 首页内容部分end */
